<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'exam/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>
  <body>

    <div class="header">
      <a href="/logout"><button>Logout</button></a>
      <h1>Welcome, {{logged_user.username}}!</h1>
    </div>

    {% if messages %}
      {% for msg in messages %}
        <h6 id="red">{{msg.message}}</h6>
      {% endfor %}
    {% endif %}

    <h2>Your Wish List:</h2>
    <div class="top">
      <table>
        <tr>
          <th>Item</th>
          <th>Added by</th>
          <th>Date Added</th>
          <th>Action</th>
        </tr>
        {% for wish in all_logged_user_wishes %}
        <tr>
            <td><a href="/wish_page/{{wish.id}}">{{wish.item}}</td>
            <td>{{wish.wish_creator.username}}</td>
            <td>{{wish.created_at|date:"M d, Y"}}</td>
            {% if wish.wish_creator == logged_user%}
                <td><a href="/delete/{{wish.id}}"><button id="delete">Delete</button></a></td>
            {% else %}
                <td><a href="/remove/{{wish.id}}"><button id="remove">Remove from my Wishlist</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <h2>Other User's Wish List:</h2>
    <div class="bottom">
        <table>
          <tr>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
          </tr>
        {% for wish in other_user_wishes %}
          <tr>
              <td><a href="/wish_page/{{wish.id}}">{{wish.item}}</td>
              <td>{{wish.wish_creator.username}}</td>
              <td>{{wish.created_at|date:"M d, Y"}}</td>
              <td><a href="/add_to_wishes/{{wish.id}}"><button id="add">Add to my Wishlist</button></a></td>
          </tr>
          {% endfor %}
        </table>

    </div>
    <br>
    <a href="/add_wish_page"><button>Add Item</button></a>

  </body>
</html>
